PORT=3005
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payment_db?schema=public
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_PAYMENT_QUEUE=payment.queue
RABBITMQ_ORDER_QUEUE=order.queue
RABBITMQ_NOTIFICATION_QUEUE=notification.queue
LOG_LEVEL=debug
