NODE_ENV=development
TCP_PORT=3002
HTTP_PORT=3012

# Database owned by Auth Service
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auth_db?schema=public

# Redis Token Cache & Blacklist
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets & Expirations
JWT_SECRET=super-secret-production-grade-jwt-key-min-32-chars-long
JWT_ACCESS_EXPIRATION=900s
JWT_REFRESH_EXPIRATION=7d

# User Service TCP Connection (for account creation & profile queries)
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=3001
