PORT=3007
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_NOTIFICATION_QUEUE=notification.queue
LOG_LEVEL=debug

# SMTP Email Configuration
EMAIL_HOST=cctal.tech
EMAIL_PORT=465
EMAIL_USER=no-reply@cctal.tech
EMAIL_PASS=your_email_password
EMAIL_FROM=E-Commerce Store <no-reply@ecommerce.com>
