# API Gateway Environment Variables
PORT=3000
NODE_ENV=development

# JWT Secret (must match Auth Service)
JWT_SECRET=super-secret-production-grade-jwt-key-min-32-chars-long

# Redis Cache & Token Blacklist
REDIS_HOST=localhost
REDIS_PORT=6379

# Microservices TCP Connections
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=3001

AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=3002

PRODUCT_SERVICE_HOST=localhost
PRODUCT_SERVICE_PORT=3003

ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_PORT=3004
